*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 20px 160px;
    height: 100vh;
    background-color: #ccee66;
    color: azure;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;

}

body::before{
    content: '';
    background-color:#1a1919 ;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: -600px;
    transform: rotate(-70deg);

}

body::after{
    content: 'Nike';
    position: absolute;
    top: 50%;   
    left: 50%;
    color: black;
    font-size: 250px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.logo {
    width: 75px;
}

h4 {
    font-size: 30px;
    
}

h1{
    font-size: 100px;
}

p{  
    font-size: 16px;
    margin: 40px;
}

.botao-carrinho{
    background-color: #a3be52;
    color: rgb(0, 0, 0);
    border: 1px solid azure;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    
}

.botao-carrinho:hover{
    background-color: #a3be52;
    color: azure;
    border: 1px solid #a3be52;
    transition: 0.5s;
}

.imagem-tenis{
    width: 800px;
    transform: rotate(-25deg);
}

.caixa-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    position: relative;
    z-index: 1;
}

.caixa-texto{
    max-width: 500px;

}

.caixa-botoes{
    z-index: 2;
    position: relative;
    display: flex;
    gap: 10px;


}
.botoes{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.botoes:active{
    opacity: 0.6;
}

.verde {
    background: #ccee66;
}

.azul{
    background: #58cced;
}

.rosa{
    background: #ff9eb5;
}

